@use '../shared/variables.scss' as *;

.MapInfo {
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid $color-gray-100;
  background: $color-gray-0;

  &__NoClientId {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 16px;
    font-size: 14px;
    color: $color-gray-500;
    text-align: center;
  }

  &__Preview {
    position: relative;
    cursor: pointer;
  }

  &__ExpandButton {
    position: absolute;
    z-index: 10;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background: $color-gray-0;
    border: 1px solid $color-gray-100;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background: $color-gray-50;
    }
  }

  &__AddressBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 4px 8px;
    background: $color-gray-0;
    border-top: 1px solid $color-gray-100;
  }

  &__AddressContent {
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 1;
    min-width: 0;
  }

  &__Address {
    font-size: 14px;
    line-height: 1.4;
    color: $color-gray-800;
    cursor: pointer;
    text-decoration: underline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      color: $color-gray-600;
    }

    &:active {
      color: $color-gray-600;
    }
  }

  &__DirectionLink {
    flex-shrink: 0;
    text-decoration: none;
  }

  &__DirectionButton {
    min-height: fit-content !important;
    height: fit-content !important;
    padding: 8px 12px !important;
    border-radius: 99px !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    background: $color-gray-0 !important;
    color: $color-gray-800 !important;
    border: 1px solid $color-gray-100 !important;

    &:hover {
      background: $color-gray-50 !important;
    }
  }
}
