@use "../shared/variables.scss" as *;

@mixin segment_label {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: $color-gray-500;
  &[data-active] {
    color: $text-color-button-text-basic-default;
  }
}

.sm_segment_button {
  label {
    @include segment_label;
    height: 30px;
    padding: 0 8px;
    font-size: 14px;
  }
}

.md_segment_button {
  label {
    @include segment_label;
    height: 40px;
    padding: 0 12px;
    font-size: 14px;
  }
}

.lg_segment_button {
  label {
    @include segment_label;
    height: 50px;
    padding: 0 16px;
    font-size: 16px;
  }
}
