@use "../shared/variables.scss" as *;

@mixin SegmentButtonLabel {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: $color-gray-500;

  &[data-active] {
    color: $text-color-button-text-basic-default;
  }
}

.SegmentButton--Small {
  label {
    @include SegmentButtonLabel;

    height: 30px;
    padding: 0 8px;
    font-size: 14px;
  }
}

.SegmentButton--Medium {
  label {
    @include SegmentButtonLabel;

    height: 40px;
    padding: 0 12px;
    font-size: 14px;
  }
}

.SegmentButton--Large {
  label {
    @include SegmentButtonLabel;

    height: 50px;
    padding: 0 16px;
    font-size: 16px;
  }
}
