@use "../shared/variables.scss" as *;

@mixin TooltipText {
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: $color-gray-0;
}

.Tooltip__Body {
  display: flex;
  flex-direction: column;
}

.Tooltip__Title {
  @include TooltipText;

  margin-bottom: 8px;
}

.Tooltip__Content {
  @include TooltipText;
}
