@use '../shared/variables.scss' as *;
@use '../shared/functions' as fn;

@mixin TooltipText {
  font-family: Pretendard;
  font-size: fn.font-size(450);
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: $color-white;
}

.Tooltip__Body {
  display: flex;
  flex-direction: column;
}

.Tooltip__Title {
  @include TooltipText;

  margin-bottom: fn.spacing(200);
}

.Tooltip__Content {
  @include TooltipText;
}
