@use "../shared/variables.scss" as *;

.ImageUploader {
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 6px;
  background-color: $color-aqua-50;
  padding: 0;
  overflow: hidden;

  &[data-accept] {
    opacity: 0.7;
  }

  &:hover {
    background-color: $color-aqua-100;
  }

  .ImageUploader__Preview {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  div {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    span {
      color: $color-aqua-700;
      text-align: center;
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
    }
  }
}

.ImageUploader__Wrapper {
  position: relative;
  width: fit-content;
  height: fit-content;

  .ImageUploader__FileClearButton {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -12px;
    right: -12px;
    width: 24px;
    height: 24px;
    z-index: 1;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }
}
