@use '../shared/variables.scss' as *;
@use '../shared/functions' as fn;

// 커스텀 클래스 병합 스토리북용 스타일
.Custom__Wrapper {
  padding: fn.spacing(600);
}

.Custom__Weekday,
.Custom__Day {
  font-weight: 700;
}

.Custom__Weekday {
  color: $color-blue-400;
}

.Custom__Day {
  &:hover {
    background-color: $color-blue-100;
  }

  &[data-today][data-highlight-today] {
    color: $color-blue-500;
  }

  &[data-weekend] {
    color: $color-blue-400;
  }

  &[data-selected] {
    background-color: $color-blue-400;
  }
}
