@use '../shared/variables.scss' as *;

// 오늘 날짜 표시를 위한 wrapper 스타일
.datePickerWrapper {
  justify-content: center;
  max-width: 375px;
  margin: 0 auto;
}

.todayIndicator {
  display: block;
  font-size: 10px;
  line-height: 1.3;
  font-weight: 500;
}
.day {
  flex-direction: column;
  gap: 2px;
  border-radius: 100%;
  font-weight: 400;
  height: #{$spacing-1100}px;
  width: #{$spacing-1100}px;
  font-size: #{$font-size-500}px;
  color: $color-gray-900;
  --day-size-lg: #{$spacing-1100}px;
  // 오늘 날짜 하이라이팅
  &:where([data-today][data-highlight-today]) {
    color: $color-aqua-500;
    font-weight: 500;
    border: none;
    background-color: transparent;
    line-height: 0.9;
  }
  // 기본 hover 상태
  &:where(:hover) {
    background-color: $color-aqua-50;
    border-color: $color-aqua-300;
  }

  // 주말 스타일
  &:where([data-weekend]) {
    color: $color-red-500;
  }
  // 범위 선택 시 범위 내 날짜
  &:where([data-in-range]) {
    background-color: $color-gray-50;
    font-weight: 500;
    color: $color-gray-900;
  }
  // 선택된 날짜
  &:where([data-selected]) {
    background-color: $color-aqua-500;
    color: $color-gray-0;

    .todayIndicator {
      color: inherit;
    }
  }
  // 비활성화된 날짜
  &:where([data-disabled]),
  &:where([data-outside]) {
    color: $color-gray-200;
    text-decoration: line-through;
    pointer-events: none;
    .todayIndicator {
      color: inherit;
      text-decoration: inherit;
    }

    &:hover {
      background-color: transparent;
    }
  }
}

.calendarHeader {
  justify-content: center;
  width: 100%;
  gap: #{$spacing-600}px;
  padding: #{$spacing-600}px #{$spacing-400}px;
  margin: 0;
}
.calendarHeaderLevel {
  white-space: nowrap;
  flex-grow: 0;
  font-size: #{$font-size-500}px;
  height: auto;
}
.calendarHeaderControl {
  width: #{$spacing-500}px;
  height: auto;
}
.month {
  width: 100%;
  text-align: center;
  margin: 0;
}
.monthRow {
  border-bottom: #{$spacing-150}px solid transparent;
}
.weekday {
  font-size: inherit;
  height: #{$spacing-1200}px;
  padding: 0;
}
