@use "../shared/variables.scss" as *;
@use "../shared/functions" as fn;

.Toggle--Small {
  label {
    height: 18px;
    color: $color-gray-900;
    font-family: Pretendard;
    font-size: fn.font-size(500);
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
  }

  div {
    color: $color-gray-600;
    font-family: Pretendard;
    font-size: fn.font-size(400);
    font-style: normal;
    font-weight: 500;
  }
}

.Toggle--Medium {
  label {
    height: fn.spacing(600);
    color: $color-gray-900;
    font-family: Pretendard;
    font-size: fn.font-size(550);
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
  }

  div {
    color: $color-gray-600;
    font-family: Pretendard;
    font-size: fn.font-size(450);
    font-style: normal;
    font-weight: 500;
  }
}

.Toggle--Large {
  label {
    height: fn.spacing(800);
    color: $color-gray-900;
    font-family: Pretendard;
    font-size: fn.font-size(700);
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
  }

  div {
    color: $color-gray-600;
    font-family: Pretendard;
    font-size: fn.font-size(500);
    font-style: normal;
    font-weight: 500;
  }
}
