@use "../shared/variables.scss" as *;

.sm_toggle {
  label {
    height: 18px;
    color: $color-gray-900;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  div {
    color: $color-gray-600;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
  }
}

.md_toggle {
  label {
    height: 24px;
    color: $color-gray-900;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
  div {
    color: $color-gray-600;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
}

.lg_toggle {
  label {
    height: 32px;
    color: $color-gray-900;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
  div {
    color: $color-gray-600;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }
}
