@use "../shared/variables.scss" as *;
@use "../shared/functions" as fn;

@mixin CheckboxColor {
  &:hover {
    background-color: $color-aqua-50;
    border-color: $color-aqua-300;
    border-width: fn.border-width(50);
  }

  &:checked {
    background-color: $color-aqua-500;
    border-color: $color-aqua-500;
  }

  &:disabled {
    background-color: $color-gray-100;
    border-color: $color-gray-200;
    border-width: fn.border-width(50);
  }
}

.Checkbox--Small {
  input {
    @include CheckboxColor;

    width: 18px;
    height: 18px;
  }

  label {
    height: 18px;
    color: $color-gray-900;
    font-family: Pretendard;
    font-size: fn.font-size(500);
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
  }

  div {
    color: $color-gray-600;
    font-family: Pretendard;
    font-size: fn.font-size(400);
    font-style: normal;
    font-weight: 500;
  }
}

.Checkbox--Medium {
  input {
    @include CheckboxColor;

    width: fn.spacing(600);
    height: fn.spacing(600);
  }

  label {
    height: fn.spacing(600);
    color: $color-gray-900;
    font-family: Pretendard;
    font-size: fn.font-size(550);
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
  }

  div {
    color: $color-gray-600;
    font-family: Pretendard;
    font-size: fn.font-size(450);
    font-style: normal;
    font-weight: 500;
  }
}

.Checkbox--Large {
  input {
    @include CheckboxColor;

    width: fn.spacing(800);
    height: fn.spacing(800);
  }

  label {
    height: fn.spacing(800);
    color: $color-gray-900;
    font-family: Pretendard;
    font-size: fn.font-size(700);
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
  }

  div {
    color: $color-gray-600;
    font-family: Pretendard;
    font-size: fn.font-size(500);
    font-style: normal;
    font-weight: 500;
  }
}
