@use 'sass:map';
@use '../shared/variables.scss' as *;

$radio-config-small: (
  size: 18px,
  label-font-size: 16px,
  label-font-weight: 500,
  description-font-size: 12px,
  description-font-weight: 500,
);
$radio-config-medium: (
  size: 24px,
  label-font-size: 18px,
  label-font-weight: 600,
  description-font-size: 14px,
  description-font-weight: 500,
);
$radio-config-large: (
  size: 32px,
  label-font-size: 24px,
  label-font-weight: 700,
  description-font-size: 16px,
  description-font-weight: 500,
);

@mixin RadioSize($size) {
  width: $size;
  height: $size;
}

@mixin RadioColor {
  &:hover {
    background-color: $color-aqua-50;
    border-color: $color-aqua-300;
    border-width: 2px;
  }

  &:checked {
    background-color: $color-aqua-500;
    border-color: $color-aqua-500;
  }

  &:disabled {
    background-color: $color-gray-100;
    border-color: $color-gray-200;
    border-width: 2px;
  }
}

@mixin RadioLabel($size, $font-size, $font-weight) {
  line-height: $size;
  color: $color-gray-900;
  font-family: Pretendard;
  font-size: $font-size;
  font-style: normal;
  font-weight: $font-weight;
  display: flex;
  align-items: center;
}

@mixin RadioDescription($font-size, $font-weight) {
  color: $color-gray-600;
  font-family: Pretendard;
  font-size: $font-size;
  font-style: normal;
  font-weight: $font-weight;
}

@mixin RadioStyles($config) {
  $size: map.get($config, size);
  $label-font-size: map.get($config, label-font-size);
  $label-font-weight: map.get($config, label-font-weight);
  $description-font-size: map.get($config, description-font-size);
  $description-font-weight: map.get($config, description-font-weight);

  input {
    @include RadioColor;
    @include RadioSize($size);
  }

  label {
    @include RadioLabel($size, $label-font-size, $label-font-weight);
  }

  div {
    @include RadioDescription($description-font-size, $description-font-weight);
  }
}

.Radio--Small {
  @include RadioStyles($radio-config-small);
}

.Radio--Medium {
  @include RadioStyles($radio-config-medium);
}

.Radio--Large {
  @include RadioStyles($radio-config-large);
}
