@use "../shared/variables.scss" as *;

@mixin focus {
  &:hover {
    outline: 1.5px solid $color-aqua-300;
    border-color: transparent;
    background-color: $color-gray-0;
  }
  &:focus-within {
    outline: 1.5px solid $color-aqua-500;
    border-color: transparent;
  }
}

.sm_textfield {
  input {
    height: 30px;
    min-height: 30px;
    padding: 8px;
    font-size: 14px;
    line-height: 100%;
    @include focus;
  }
}

.md_textfield {
  input {
    height: 40px;
    min-height: 40px;
    padding: 12px;
    font-size: 14px;
    line-height: 100%;
    @include focus;
  }
}

.lg_textfield {
  input {
    height: 50px;
    min-height: 50px;
    padding: 16px;
    font-size: 16px;
    line-height: 100%;
    @include focus;
  }
}
