@use "../shared/variables.scss" as *;
@use "../shared/font.css" as *;

@mixin NumberBox {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  border-radius: 8px;
  gap: 10px;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  text-align: center;
  color: $color-gray-600;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $color-gray-50;
  }

  &:active {
    background-color: $color-gray-100;
  }
}

.Pagination {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.Pagination__PageIndex {
  @include NumberBox;

  background-color: #fff0;
}

.Pagination__PageIndex--Active {
  @include NumberBox;

  font-weight: 700;
  background-color: $color-gray-100;
  color: $color-gray-800;
}

.Pagination__Arrow {
  @include NumberBox;

  border: 1px solid $color-gray-400;
  margin: 0 8px;
  width: 40px;
  height: 40px;
  background-color: $color-gray-0;
}
