@use "../shared/variables.scss" as *;
@use "../shared/functions" as fn;

.TextField--LeftLabel {
  display: flex;
  flex-direction: row;
  gap: fn.spacing(500);
}

.TextField--TopLabel {
  display: flex;
  flex-direction: column;
}

.TextField__Label--Small {
  font-family: Pretendard;
  font-size: fn.font-size(450);
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
  margin: fn.spacing(200) 3px;
}

.TextField__Label--Medium {
  font-family: Pretendard;
  font-size: fn.font-size(500);
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
  margin: fn.spacing(300) fn.spacing(100);
}

.TextField__Label--Large {
  font-family: Pretendard;
  font-size: fn.font-size(550);
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
  margin: fn.spacing(400) fn.spacing(100);
}

.TextField__Tooltip--Small {
  width: 14px;
  height: 14px;
}

.TextField__Tooltip--Medium {
  width: fn.spacing(400);
  height: fn.spacing(400);
}

.TextField__Tooltip--Large {
  width: 18px;
  height: 18px;
}

@mixin BorderFocus {
  &:hover {
    outline: fn.border-width(37) solid $color-aqua-300;
    border-color: transparent;
  }

  &:focus-within {
    outline: fn.border-width(37) solid $color-aqua-500;
    border-color: transparent;
  }
}

.TextField__Wrapper {
  position: relative;
}

.TextField__TextCounter {
  position: absolute;
  bottom: -16px;
  right: 0;
  font-family: Pretendard;
  font-size: fn.font-size(400);
  font-weight: 500;
  letter-spacing: 0;
  text-align: right;
  color: $color-gray-600;
}

.TextField--Textarea {
  textarea {
    @include BorderFocus;
  }
}

.TextField--Small {
  input {
    height: 30px;
    min-height: 30px;
    padding: fn.spacing(200);
    font-size: fn.font-size(450);

    @include BorderFocus;
  }
}

.TextField--Medium {
  input {
    height: fn.spacing(1000);
    min-height: fn.spacing(1000);
    padding: fn.spacing(300);
    font-size: fn.font-size(450);

    @include BorderFocus;
  }
}

.TextField--Large {
  input {
    height: 50px;
    min-height: 50px;
    padding: fn.spacing(400);
    font-size: fn.font-size(500);

    @include BorderFocus;
  }
}

.TextField__Description {
  margin-top: fn.spacing(200);
}

.TextField__ErrorMsg {
  margin-top: fn.spacing(100);
}

.TextField__ClearButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
