@use "../shared/variables.scss" as *;

@mixin AlertTitle {
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

@mixin AlertContent {
  color: $color-gray-900;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.Alert--LightSuccess {
  background-color: $color-green-50;
  border-radius: 6px;
  border: 1.5px solid $color-green-500;

  span {
    @include AlertTitle;

    color: $color-green-500;
  }

  div {
    @include AlertContent;
  }
}

.Alert--LightError {
  background-color: $color-red-50;
  border-radius: 6px;
  border: 1.5px solid $color-red-500;

  span {
    @include AlertTitle;

    color: $color-red-500;
  }

  div {
    @include AlertContent;
  }
}

.Alert--FillSuccess {
  background-color: $color-green-100;
  border-radius: 6px;

  span {
    @include AlertTitle;

    color: $color-green-500;
  }

  div {
    @include AlertContent;
  }
}

.Alert--FillError {
  background-color: $color-red-100;
  border-radius: 6px;

  span {
    @include AlertTitle;

    color: $color-red-500;
  }

  div {
    @include AlertContent;
  }
}
