@use "../shared/variables.scss" as *;

.SearchBar--LeftLabel {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.SearchBar--TopLabel {
  display: flex;
  flex-direction: column;
}

.SearchBar__Label--Small {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
  margin: 8px 3px;
}

.SearchBar__Label--Medium {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
  margin: 12px 4px;
}

.SearchBar__Label--Large {
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
  margin: 16px 4px;
}

.SearchBar__Tooltip--Small {
  width: 14px;
  height: 14px;
}

.SearchBar__Tooltip--Medium {
  width: 16px;
  height: 16px;
}

.SearchBar__Tooltip--Large {
  width: 18px;
  height: 18px;
}

@mixin SearchBarBorderFocus {
  &:hover {
    outline: 1.5px solid $color-aqua-300;
    border-color: transparent;
  }

  &:focus-within {
    outline: 1.5px solid $color-aqua-500;
    border-color: transparent;
  }
}

.SearchBar__Wrapper {
  position: relative;
}

.SearchBar__TextCounter {
  position: absolute;
  bottom: -16px;
  right: 0;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  text-align: right;
  color: $color-gray-600;
}

.SearchBar--Textarea {
  textarea {
    @include SearchBarBorderFocus;
  }
}

.SearchBar--Small {
  input {
    height: 30px;
    min-height: 30px;
    padding: 8px;
    font-size: 14px;

    @include SearchBarBorderFocus;
  }
}

.SearchBar--Medium {
  input {
    height: 40px;
    min-height: 40px;
    padding: 12px;
    font-size: 14px;

    @include SearchBarBorderFocus;
  }
}

.SearchBar--Large {
  input {
    height: 50px;
    min-height: 50px;
    padding: 16px;
    font-size: 16px;

    @include SearchBarBorderFocus;
  }
}

.SearchBar__Description {
  margin-top: 8px;
}

.SearchBar__ErrorMsg {
  margin-top: 4px;
}

.SearchBar__ClearButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
