@use "../shared/variables.scss" as *;

.Dropdown--LeftLabel {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.Dropdown--TopLabel {
  display: flex;
  flex-direction: column;
}

.Dropdown__Label--Small {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
  margin: 8px 3px;
}

.Dropdown__Label--Medium {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
  margin: 12px 4px;
}

.Dropdown__Label--Large {
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
  margin: 16px 4px;
}

.Dropdown__Tooltip--Small {
  width: 14px;
  height: 14px;
}

.Dropdown__Tooltip--Medium {
  width: 16px;
  height: 16px;
}

.Dropdown__Tooltip--Large {
  width: 18px;
  height: 18px;
}

@mixin DropdownBorderFocus {
  &:hover {
    outline: 1.5px solid $color-aqua-300;
    border-color: transparent;
  }

  &:focus-within {
    outline: 1.5px solid $color-aqua-500;
    border-color: transparent;
  }
}

.Dropdown--Small {
  input {
    height: 30px;
    padding: 8px;
    font-size: 14px;
    min-height: 30px;

    @include DropdownBorderFocus;
  }
}

.Dropdown--Medium {
  input {
    height: 40px;
    padding: 12px;
    font-size: 14px;
    min-height: 40px;

    @include DropdownBorderFocus;
  }
}

.Dropdown--Large {
  input {
    height: 50px;
    padding: 16px;
    font-size: 16px;
    min-height: 50px;

    @include DropdownBorderFocus;
  }
}

.Dropdown__Description {
  margin-top: 8px;
}

.Dropdown__ErrorMsg {
  margin-top: 4px;
}
